* {
    border: 1px solid grey;
    --main-color: black;
    --accent-color: #596D48;
    --light-color: white;
    --light-accent: #efefef;
}

body{
    display: flex;
    background-color: var(--light-accent);
    text-decoration: none;
}
.sidebar{
    background-image: url("BG_img.png");
    background-size: 30vw;
    color: var(--light-color);
    width: 30vw; 
    position: relative;
    /* max-width:40vw; */
    /* display: flex;
    flex-flow: column;
   align-items: center;
   justify-content: center; */
}

.odin{
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-flow: row;
    text-align: center;
    align-items: center;
    flex-shrink: inherit;
    position: absolute;
    bottom: 50%;
    height: 50px;
    width: 100%;
}

#odin{  
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.credit{
    font-size: 0.875em;
    position: absolute;
    bottom: 0;
}

.main_page{
    margin: 2vw, 2vh;
}

.formfields {
    display: flex;
    align-items: center;
    background-color: var(--light-color);
    box-shadow: 10px 5px 5px black;
}

#create_account {
    background-color: var(--accent-color);
}